---
import { Image } from "astro:assets";
import cta from "../assets/cta-img.png";
import Button from "./Button.astro";
---

<div id="cta" class="mt-32 font-poppins relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 m-3 mx-auto max-w-sm mb-36 md:max-w-xl lg:max-w-3xl">
    <Image src={cta} alt="Call To Action Image" class="absolute inset-0 -z-10 h-full w-full object-cover" />
    <div class="absolute inset-0 -z-10 bg-gradient-to-r from-red-950 via-gredray-900/40"></div>
    <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-red-900/10"></div>

    <div class="overflow-hidden font-semibold text-3xl leading-9 text-gray-100">
        <h3 class="mr-8">Sei pronto a fare il grande salto?</h3>
    </div>
    <div class="mt-6 flex text-lg font-semibold leading-6 text-white">
        <Button title="Contattami" link="/contattami" />
    </div>
  </div>
  